DATABASE_URL=

# POSTGRES 
POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''

# PGADMIN
PGADMIN_DEFAULT_EMAIL=""
PGADMIN_DEFAULT_PASSWORD=""

# DATASUS (sync_datasus)
# Lista de estados separados por vírgula (ex: SP,RJ,MG). Se vazio, processa todos (ou os defaults do script).
DATASUS_UFS="SP,RJ,MG,BA,AM"

# SIGTAP (sync_sigtap)
FTP_HOST="ftp2.datasus.gov.br"
FTP_DIR="/pub/sistemas/tup/downloads/"
FTP_TIMEOUT="30"
SCHEDULE_HOUR="0"
SCHEDULE_MINUTE="0"

# CPA DATA (sync_cpa_data)
# CPA_SPREADSHEET_PATH="scripts/arquivos/cpa-data/dados-cpa.xlsx"

# GERAL
LOG_LEVEL="INFO"